@import '../mixin.scss';
.carousel-inner>.item>img {
    width: 100%;
}

.carousel-control.left,
.carousel-control.right {
    display: none;
}

.carousel .item::before {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-bottom: -20px;
    height: 20px;
    width: 100%;
    content: '';
}

.search-container {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #1d1d1b;
}

.search-container input {
    height: 100%;
    width: 280px;
    border: unset;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    outline: 0;
    margin-bottom: 10px;
    @include placeholder {
        color: gray;
    }
}