@import '../mixin.scss';
@media screen and (min-width: $break-large) {
  .logo-img {
    margin-top: 10px;
  }
}

@media screen and (max-width: $break-large) {
  .vertical-align {
    line-height: 50px;
  }
}
