@import '../mixin.scss';
.navbar.small-menu {
    @media screen and (min-width: $break-large) {
        text-align: right;
    }
    li a {
        text-transform: capitalize;
        font-family: $right-menu-font;
        font-size: 12px;
        padding: 10px 10px;
    }
}