@import '../../mixin.scss';
.carousel-inner > .item > img {
  width: 100%;
}

.carousel-control.left,
.carousel-control.right {
  display: none;
}

.carousel .item::before {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  margin-bottom: -20px;
  height: 20px;
  width: 100%;
  content: '';
}

@media screen and (max-width: $break-large) {
  .carousel.slide {
    margin-top: -20px;
    z-index: -1;
  }
}
