@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Ropa+Sans:400,400i');
$primary-font: 'Open Sens',
'Open Sens';
$category-menu-font: 'Ropa Sans',
'Open Sens';
$menu-font: 'Helvetica',
'Open Sens';
$break-large: '960px';
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }
    @include optional-at-root(':-moz-placeholder') {
        @content;
    }
    @include optional-at-root('::-moz-placeholder') {
        @content;
    }
    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}